/spark-streaming/.DS_Store
/spark-streaming/.idea
/spark-streaming/out
/spark-streaming/target
/spark-streaming/state
/spark-sql/.DS_Store
/spark-sql/.idea
/spark-sql/out
/spark-sql/target
/spark-sql/metastore_db
/spark-sql-pm25/.DS_Store
/spark-sql-pm25/.idea
/spark-sql-pm25/out
/spark-sql-pm25/target
/spark-sql-pm25/metastore_db
/spark-offline-realtime/.idea
/spark-offline-realtime/out
/spark-offline-realtime/target
/spark-offline-realtime/metastore_db
*.DS_Store
*.iml
*.idea
